DATA ANALYSIS

# BASIC

In [1]:
import sys

In [2]:
print("python version:", sys.version)

python version: 3.11.7 | packaged by Anaconda, Inc. | (main, Dec 15 2023, 18:05:47) [MSC v.1916 64 bit (AMD64)]

SYNTIX AND SAMANTIC

SYNTAX: is correct arrangement of code, command ,symbole,chracter in language.all about coorect arrangement of word and code.
SAMANTIC :is interpretatin of code , command , symbole, chracter in language.all about what the code is suppose to do when it run.

INDENTATION

block of code the space at the begining of code line.

In [4]:
if 5 > 2:
    print ("five is greatert than two")

five is greatert than two

COMMENT

comment can be used to define python code. single and multipule comment used in this. ctrl+/(forword slash) use to comment the line.

In [7]:
# this is my data analysis series it is single line comment.

In [9]:
''' this is my
is my 
data analysis series'''

' this is my\nis my \ndata analysis series'

In [10]:
# this is my 
# data analysis
# series .it is multiline comment.

CASE SENSTIVE LANGUAGE : IN THIS a and A both are diff.

In [6]:
name= "sapna" 
Name= "verma"
print(name)
print(Name)

sapna
verma

<!-- lINE CONTINUTION: line create a variable total okay And I'm doing some mathematical operation like eg..in this \ backword slash for new line. -->

In [5]:
total= 2+5+5+8+\
5+9
print(total)

34

In [6]:
# multiple statement in single line.
a=4;b=8;c=a+b
print(c)

12

In [9]:
#understand the samantic in python
#variable assignment
age=25 #age is int
name="sapna" #name is str

In [11]:
type(age)

int

In [12]:
type(name)

str

In [7]:
# type interference
_som = [23,45,65]
print(type(_som))

<class 'list'>

In [4]:
# line continution 
# use backslash(\) for continue the statement. 
total = 2+3+4+\
4-5+9
print(total)

17

In [5]:
# multiple statement on a single line
a=2;b=5;c=a+b
print(c)

7

In [6]:
a=3;b=6;c=a+b
print(c)

9

In [9]:
# name error 
a= sapna
print(a)

NameError: name 'sapna' is not defined

# VARIBLES

In [ ]:
 # So variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. 
# In Python,variables are created when you assign a value to them, and they do not need explicit declaration to resolve memory space.

In [12]:
# declearing and assign variables 
name = "sapna"
age = 25
height = 5.3
is_student = "true" 

# printing the variables
print("name:", name)
print("age:" , age)
print("height:" , height)
print("is_student:" , is_student)

name: sapna
age: 25
height: 5.3
is_student: true

In [14]:
# naming conversion 
# thevariable should be start with letter or "_" underscore and contains letter , numbers , undrscore .
# variables name are case senstive.

# valid variables names 
first_name = "sapna"
last_name = "verma"
print(first_name)
print(last_name)

sapna
verma

In [15]:
# invalid variables 
1_name = "sapna"
print(1_name)

SyntaxError: invalid decimal literal (3879113998.py, line 2)

In [16]:
@name = "sapna"
print(@name)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1992890633.py, line 1)

In [19]:
# case senstive 
name = "sapna"
Name = "verma"
print("name:",name)
print("Name:",Name)
# both r different.
name==Name

name: sapna
Name: verma

False

In [27]:
# understanding the type of variables
# python is dynamically typed, type of variable is determined at run time.
age= 24 #int
name= "sapna" #str
height= 5.3  #float

print(type(age))
print(type(name))
print(type(height))

# type casting 
print(str(age))
print(float(age))
print(int(height))

<class 'int'>
<class 'str'>
<class 'float'>
24
24.0
5

In [32]:
# type casting (coversion)
a = 2
b = "sapna"
c = 2.4
print(type(a))
print(type(b))
print(type(c))
# use type casting 
x=str(a)
y=str(b)
z=int(c)
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'int'>

In [33]:
# one more example 
age = 24 
print(type(age))

# type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
24
<class 'str'>

In [34]:
age=25
print(type(str(age)))

<class 'str'>

In [35]:
# now can we change str into int ans is (no) bcz str is complete word 
name = "sapna"
print(type(int(name)))

ValueError: invalid literal for int() with base 10: 'sapna'

In [37]:
# dynamic typing
# python allow the type of variable change as the program exicute

var= "sapna"
print(var,type(var))

var= 24
print(var,type(var))

var = 4.5
print(var,type(var))

sapna <class 'str'>
24 <class 'int'>
4.5 <class 'float'>